##
## VM Template for EPGU-VIS Integration
## Generated automatically
##
## This template transforms JSON data from EPGU forms to XML for departmental systems
##

## Variable declarations
## Фамилия
#set($lastName = $request.lastName)
## Имя
#set($firstName = $request.firstName)
## Отчество
#set($middleName = $request.middleName)
## Дата рождения
#set($birthDate = $request.birthDate)
## Электронная почта
#set($email = $request.email)
## Телефон
#set($phone = $request.phone)

## XML output structure
<Person xmlns="http://example.gov.ru/person">
  #if($lastName)
    <FamilyName>$!{lastName}</FamilyName>
  #end
  #if($firstName)
    <GivenName>$!{firstName}</GivenName>
  #end
  #if($middleName)
    <Patronymic>$!{middleName}</Patronymic>
  #end
  #if($birthDate)
    <DateOfBirth>$!{birthDate}</DateOfBirth>
  #end
  #if($email)
    <EmailAddress>$!{email}</EmailAddress>
  #end
  #if($phone)
    <PhoneNumber>$!{phone}</PhoneNumber>
  #end
</Person>

